.inputRowContainer {
  margin-top: 6rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
button {
  background-color: #1976d2;
  color: white;
  font-size: 18px;
  width: 5vw;
  height: 6vh;
  border: none;
  border-radius: 8px;
}

button:hover {
  transition: all ease-in-out 0.15s;
  cursor: pointer;
  opacity: 80%;
}
input {
  width: 15vw;
  height: 5vh;
  background-color: #212529;
  border: #1976d2 solid 2px;
  border-radius: 8px;
  font-size: 22px;
  color: white;
}
